.title {
  span {
    background-color: #942f70;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
    line-height: 60px;
    padding: 0 12px;
    font-size: 48px;
    color: #fff;
  }
}
